*{
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.navbar-nav{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    color: #283645;
  }
.navbar-nav a{
      position: relative;
  }

a.nav-item.nav-link.active::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 15px;
    background: #1ABB9C;;
    width: 10px;
    height: 10px;
    border-radius: 50%;
   
}
.phoneNumber{
    display: none;
}
.navbar-collapse {
    height: 100vh;
    z-index: 100;

}

  
  /* Discipliner section */
  #discipliner {
    background-image: url('assets/Working-2.png');
    width: 100%; 
    height: 504px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
  }
  .navbar-toggler{
      position: relative;
      border: none
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
      outline: 0;
  }
  
  .navbar-toggler span {
     display: block;
     background-color: #444;
     height: 3px;
     width: 25px;
     margin-top: 4px;
     margin-bottom: 4px;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     position: relative;
     left: 0;
     opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
     -webkit-transition: transform .35s ease-in-out;
     -moz-transition: transform .35s ease-in-out;
     -o-transition: transform .35s ease-in-out;
     transition: transform .35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      opacity: 0.9;
  }
  .navbar-toggler:not(.collapsed) .logo{display: none}
  

  #heroContainer {
    width: 392px;
    height: 183px; 
    left: -100px;
    top: 11.31%;
    display: grid;
    align-items: center;
    padding: 30px;
  }

  #heroContainer div{
   text-align: right;
   font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 32px;
    text-transform: uppercase;
    color: #283645;
   
  }
  div#colorTitle{
      color: #1ABB9C;
  }
  #heroText{
      display: none;
  }
  #strategyContainer{
    padding-left: 5%;
    padding-right: 5%;
  }
  #image-strategy {
    margin-top: -30px;
    z-index: 1;
    background: transparent;
    max-width: 100%;
     height: auto; 
     display:block;
}
h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;   
    text-align: center;
    color: #1ABB9C;
}
h5 {
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
text-align: center;
color: #506A85;
}
p {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
text-align: center;
color: #3B4E61;
}
@media screen and (min-width : 768px){
    .navbar-collapse{
        height: auto;
    }
    .navbar-nav{
        margin-left: 0%;
        margin-top: 0%;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
          }
    a.nav-item.nav-link.active::before {
        content: "";
        position: absolute;
        top: -10px;
        background: #1ABB9C;;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: calc(50% - 8px/2 + 0.19px);
    }
    #heroText{
        display: block;
    }
    div#heroTitle{
        display: inline-flex;
        justify-content: flex-end;
    }
    #heroTitle div:first-child{
        margin-right: 10px
    }
    #heroContainer div{
        font-size: 48px;
        line-height: 42px;
    }
    #heroContainer {  
        padding: 10%;
        width: 54%;
        height: 50%;
        justify-content: end;
      }
    #discipliner{
        left: 34.44%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 654px;
    }
    #heroText{
        text-align: right;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        width: 320px;
        margin-top: 5%;
        color: #506A85;
    }
    #image-strategy{
        margin-top: 0px;
    }
    #strategyContainer{
    padding-left: 0%;
    padding-right: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    }
    h4, h5, p {
        text-align: left
    }
    .phoneNumber{
        align-items: center;
        display: inline-flex;
    }
}